.container {
    border: 5px dotted maroon;
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.box {
    border: 2px solid greenyellow;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;  
    font-size: 3em;

    transition: 2s;  
    /* transition-property: transform;   */
     
    /* transition-duration: 5s;  */

    /* transition-timing-function:cubic-bezier(0, 1.24, 1, -0.2);  */
    /* transition-timing-function: ease;  */            /* default property */ 
    /* transition-timing-function: ease-in; */        /* starting slow end fast */
    /* transition-timing-function: ease-out; */     /* starting fast end slow */   

    /* transition-delay: 2s; */ 

    /* transition: all 5s ease-in 1s; */
   
} 

.box:hover{
    transform:rotateY(360deg) translate(595px, 268px) scale(0.5); 
    background-color: rgb(255, 0, 0);
}