.cards {
    border: 2px solid black; 
    display: flow-root;

}

.card {
    border: 2px solid rgb(255, 4, 4);
}

img {
    /* float:right;  */ 
    float: left;
} 

div.card:nth-child(3){ 
    /* clear: right;  */
    clear: both;
}