body {
    background-color: black;
}

.solar-system {
    /* border: 2px solid red; */
    width: 30vw;
    height: 50vh;
    margin: -255px auto;
    animation: identifier 20s linear infinite;
}

.earth {
    border: 5px solid rgb(0, 81, 255);
    background-color: skyblue;
    border-radius: 70px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-weight: bold;
    align-items: center;
    position: absolute;
}

.moon {
    /* border: 3px solid rgb(0, 68, 255);   */
    width: 8vw;
    height: 18vh;
    position: relative;
    top: -31px;
    left: -27px;
    animation: identifier 4.1s linear infinite;



}

#moon {

    background-color: bisque;
    border-radius: 20px;
    height: 4.3vh;
    width: 2vw;


}

.sun {
    width: 10.5vw;
    height: 23vh;
    border-radius: 110px;
    background-color: rgb(255, 255, 0);
    margin: 258px 0px 0px 675px;
    box-shadow: 0px 0px 50px white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 150, 21);
    font-size: 40px;
    font-family: cursive; 
    font-weight: bold;
}


@keyframes identifier {
    from {}

    to {
        transform: rotate(360deg);
    }
} 
